---
title: Statement
_render: false
---

div.summary.section
	div.summary-big.wow.fadeInUp
		h1 We are CCS Design 
			span.gold House
	div.summary-box.wow.fadeInUp
		p Ibis Interactive is a small web design and development house based in Topsfield, Massachusetts. We take pride in building websites and apps that are elegant and easy to use. We are pleased to service the bio-medical, small business and non-profit sectors.
		p: a(href='/about.html') Tell me more...