---
title: ArtBeyond
link: http://www.art-beyond.org/
image: art-beyond/ab-home.jpg
tagline: ArtBeyond is an ongoing art
_content: false
slider: ["assets/art-beyond/ab-header.jpg"]
---

extends ../../../views/single_project
block projects-content
  :marked
    ArtBeyond is an ongoing art exhibit that displays curated work online and in galleries. ArtBeyond explores the concept of healing in contemporary art.

    The website was a collaborative endeavor with Sunne Savage Gallery, McGladrey accounting firm, and Travis Roy Foundation.

    The site is managed through a customized WordPress backend and dynamically reorganizes the individual galleries of up to 12 artists.

    The website successfully raises funds to support research at MIT and Harvard University. Designed to be mobile friendly, the site welcomes visitors to interact with the artists through a mobile guestbook.

    The website successfully raises funds to support research at MIT and Harvard University. Designed to be mobile friendly, the site welcomes visitors to interact with the artists through a mobile guestbook.
  