---
title: Dreamachine
link: http://dreamachine.co/
image: dreamachine/dr-home.jpg
tagline: Dreamachine tag
_content: false
---

extends ../../../views/single_project
block projects-content
	:marked
		The Dreamachine is a meditative device that modulates brain rhythms through light stimulation.

		The Dreamachine is a mobile & desktop javascript app. It is a meditative device which induces color patterns by modulating brain rhythms through light stimulation.