---
title: Jack Knisely Landscaping Co.
link: http://dreamachine.co/
image: content/work/assets/jack-knisely/jack-home-560x320.jpg
tagline: Jack Knisely Landscaping
_content: false
slider: ["../assets/jack-knisely/jack-header-1200x500.jpg"]
---

extends ../../../views/single_project
block projects-content
	:marked
		# Jack

		Need a paragraph

