---
title: Massachusetts Walks Again
link: http://www.massachusettswalksagain.org
image: content/work/assets/mwa/mwa-home-560x320.jpg
tagline: Massachusetts Walks Again tag	
_content: false
slider: ["../assets/mwa/mwa-header.jpg"]	
---

extends ../../../views/single_project
block projects-content
	:marked
		Massachusetts Walks Again is a non-profit organization and consortium of leading laboratories, biotech companies and patient advocacy organizations. As a nonprofit, they are dedicated to increasing state-based research funds through patient led lobbying initiatives.

		The site focuses on bringing together the various partners and sponsors – while updating the patient population of ongoing legislative affairs. They fund the leading SCI laboratories in the United States including MIT, Harvard University, Boston Children’s Hospital and Rutgers University.
