---
title: Theraplant LLC
link: http://www.theraplant.com
image: content/work/assets/theraplant/ttp-home-560x320.jpg
tagline: Theraplant LLC
_content: false
slider: ["../assets/theraplant/theraplant-header.jpg"]
---

extends ../../../views/single_project
block projects-content
	:marked
		Theraplant is a laboratory dedicated to empowering patients with the highest quality medical cannabis in the world. The custom-designed web development incorporates multiple third-party integrations from mailchimp, internal survey forms, categorized custom news section and easy to read and access frequently asked questions.

		#### Purpose and Goals
		• To effectively communicate with consumers.
		• To provide relevant information to stakeholders.
		• To provide supplementary marketing services.
		• To increase user interaction and strengthen brand presence.

		#### Primary Actions
		1. To obtain email addresses for customer database.
		2. To provide information for prospective consumers and
		employees.
		3. To educate consumers about specific benefits of medical
		marijuana through concise copywriting and peer-reviewed
		journals.
		4. To provide information about product categories.

		#### Secondary User Flow
		• To provide customers, doctors and media with directed
		resource material.
		• To inform and provide customers with current news about
		company and industry.
