---
title: U2FP Stories of Paralysis
link: http://www.u2fpstories.org
image: content/work/assets/u2fp-stories/stories-home-560x320.jpg
tagline: U2FP Stories of 
_content: false
slider: ["../assets/u2fp-stories/stories-header.jpg"]
---

extends ../../../views/single_project
block projects-content
	:marked
		U2FP wanted to rework a website that incorporated the stories and pictures of spinal cord injury survivors. We were asked to rework the current site and content – focusing on the storytelling process, while giving a tight and clean design.

		Usability for all was an important component. Each story tells a snapshot of one life. In addition, a random assortment of stories is dynamically created so that each time a visitor arrives at the site they are visited by different stories.

		Stories is powered by WordPress and is mobile friendly.
