---
title: Work
image: content/work/assets/ujm/monsters-header.png
tagline: Work tag
_content: false
slider: ["../assets/ujm/monsters-header.png"]
---

extends ../../../views/single_project
block projects-content
	:marked
		# Projects

		see here

		what you want to do is load projects in some order

		then you need a template for each project or load dynamically like words??

		![Image of Yaktocat](https://octodex.github.com/images/yaktocat.png)

		![Art Beyond Img](../nature.jpg)

 