extends layout

block head
  title Contact | CCS Design

block css
  link(href='css/about.css', rel='stylesheet')

block content
  section.page.about-page
    .page-head
      h1 Contact
    .office
      != site.content.contact[0].content
    .opportunities 
      != site.content.contact[1].content


block js 
  script(src=relative_path+'js/contact.js')   