extends layout

block head
  title CCS Design House

block css
  link(href='css/home.css', rel='stylesheet')
  link(href='css/slider.css', rel='stylesheet')
  link(href='css/animate.css', rel='stylesheet')
  
mixin display-news(exhibit, date)
  article.exhibit-item
    .content
      header
        span.date
          = monthNames[date.getMonth()] + ' '
          = date.getDate() + ', '
          = date.getFullYear()
        h4.title
          a(href='.'+exhibit._url)
            = exhibit.title

block content 
  section.page.home-page
    .cd-hero.wow.fadeIn
      ul.cd-hero-slider.autoplay
        li.selected
          .slide-1.cd-full-width
            .hero-content
              h1 New Home &amp; 
        li
          .slide-2.cd-full-width
            .hero-content
              h1 Welcome to C C Southard's Website

      .arrow
        a(href='#'): i.fa.fa-long-arrow-down


  section.page2.home-page2

    include _about

    include _projects

  include _recent

  include _testimonial

block js
  script(src='js/home.js')
  script(src='js/slider.js')  