extends layout

block head
  title Work | CCS Design House

block css
  link(href='css/work.css', rel='stylesheet')

block content
  section.page.about-page
    .page-head
      h1 Work

 
    .work-grid-post
      ul#work
        
        for w in site.content.work['work']
          li.wow.fadeInUp
            a(href=w._url): img(src=w.image)
            h6= w.tagline
            h2: a(href=w._url)= w.title
              