extends layout

block head
  title Work | CCS Design House

block css
  link(href='css/work.css', rel='stylesheet')

mixin load-projects()
  - locals.projects = []

  each project in site.content.work['work']
    - locals.projects.push(project)

block content
  section.page.about-page
    .page-head
      h1 Work

    .words.page-inner
      +load-projects()
      include templates/work_inner

block js
  script.
    var projects = !{JSON.stringify(locals.projects)}
  script(src='js/work.js')