#footer
  clear both
  width 100%
  float left
  letter-spacing 2px
  color #4d4d4d
  font-weight 500
  font-size 0.75em
  .footer-social-links
    border-bottom 1px solid #ccc
    border-top 1px solid #ccc
    overflow hidden
    position relative

.footer-container
  float left
  display block
  margin-right 1.07451%
  width 92.22504%
  margin-left 3.88748%
  -webkit-transition all 300ms
  -webkit-transition all 300ms
  transition all 300ms
  padding-top 0px

.footer-social-links
  .links
    margin 0px
    padding 0px
    li
      box-sizing border-box
      float left
      padding-left 0.83333%
      padding-right 0.83333%
      text-align center
      width 33.3333%
      border-right 1px solid #ccc
      box-sizing border-box
      float left
      padding 0
      list-style none
      width 16.6667%
      a
        color #999
        display block
        font-size 40px
        height 90px
        line-height 84px
        padding 0
        span
          display none
      &:first-child
        border-left 1px solid #ccc
  .facebook
    margin-left 25%

.footer-bottom
  margin-top 40px

.footer-links
  box-sizing border-box
  display block
  float left
  padding-left 0.83333%
  padding-right 0.83333%
  width 25%
  ul
    margin 0px
    padding 0px
  li
    margin-bottom 15px
    list-style: none
  a
    color #a3a6ac
    display block
    font-size 1em
    text-transform: uppercase
    font-weight: 600
    letter-spacing 0px
    text-decoration none

.footer-links-2
  box-sizing border-box
  float left
  padding-left 0.83333%
  padding-right 0.83333%
  width 25%

.footer-address
  box-sizing border-box
  float right
  padding-left 0.83333%
  padding-right 0.83333%
  text-align right
  width 33.3333%
  p
    float right
    margin-top -0.5em
    color #797979

.footer-logo
  box-sizing border-box
  clear both
  float left
  margin 15px 0 15px 33.3333%
  padding-left 0.83333%
  text-align center
  padding-right 0.83333%
  width 33.3333%
  img
    width 75px

.footer-social-links .twitter a:hover, .footer-social-links .twitter a.active
  background-color #10b1e3
  color #fff

.footer-social-links .facebook a:hover, .footer-social-links .facebook a.active
  background-color #3b5998
  color #fff

.footer-social-links .instagram a:hover, .footer-social-links .instagram a.active
  background-color #333333
  color #fff

.footer-social-links .dribbble a:hover, .footer-social-links .dribbble a.active
  background-color #EA4C89
  color #fff

+below(480px)
  .footer-social-links
    .links
      li
        width 25.667%

    .facebook
      margin-left 10%

  .footer-links
    width 50%

  .footer-links-2
    width 50%

  .footer-address
    width 100%
    text-align center
    p
      width 100%
      margin-top 1.5em

+below(360px)
  .footer-links
    width 100%
    text-align center

  .footer-links-2
    width 100%
    text-align center