// font stacks
helvetica-neue = "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif
helvetica = "Helvetica Neue", Helvetica, Arial, sans-serif
georgia = Georgia, Cambria, "Times New Roman", Times, serif
lucidia-grande = "Lucida Grande", Tahoma, Verdana, Arial, sans-serif
monospace = unquote("'Bitstream Vera Sans Mono', Consolas, Courier, monospace")
verdana = Verdana, Geneva, sans-serif
raleway = "Raleway", sans-serif
freight-sans = "freight-sans-pro", helvetica-neue
sofia = "sofia-pro",sans-serif;

// default font settings
font-stack = sofia
font-size = 16
font-color = #000
font-light-color = #4D4D4D // rgba(0,0,0,0.7) on white
blue-color = #0E8EB5
header-height = 50px
header-height2 = 100px 

// Color Settings



double-border(width, height, color)
  &:before, &:after
    position: absolute
    content: ""
    size: width height
    border: 1px solid
    if color
      border-color: color
    border-width: 0 1px 0 1px
  &:before
    left: 0
  &:after
    right: 0

hero_img = url('../img/home/hero.jpg')
hero_img2 = url('../img/home/hero.jpg')
recent_img = #ebebeb url("../img/home/temp_background_texture.gif") repeat scroll center center
heading_main = 3em
heading_sub = 1.7rem

// About Section settings
about_bg = #f4f1ef
about_color = #937d57
about_font = 22px
about_heading = 4em
gold-color = #937d57
gold-color-light = #beae92 

// Recent Section settings
recent_img = #ebebeb url("../img/home/temp_background_texture.gif") repeat scroll center center
recent_heading = 3em
recent_btn = #a3a6ac
