---
title: Process
_render: false
---

.about-person
	.about-person-text.wow.fadeInUp
		h2 Process/What   
			span.gold we DO
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente minima dolor, nisi eius maxime reiciendis labore. Sequi error eligendi temporibus maiores facilis cum perferendis perspiciatis. Expedita, dolorem? Quod, eos, quae!

.hero-box.right.profile
	.profile-img.wow.fadeInUp
		img(src='content/about/assets/profile.jpg')

.hero-box.right.profile
	.profile-img.wow.fadeInUp
		img(src='content/about/assets/profile2.jpg')

.about-person
	.about-person-text.wow.fadeInUp
		h2 Process/What   
			span.gold we DO
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente minima dolor, nisi eius maxime reiciendis labore. Sequi error eligendi temporibus maiores facilis cum perferendis perspiciatis. Expedita, dolorem? Quod, eos, quae!

.hero-box.right.profile
	.profile-img.wow.fadeInUp
		img(src='content/about/assets/profile.jpg')

.hero-box.right.profile
	.profile-img.wow.fadeInUp
		img(src='content/about/assets/profile2.jpg')